<% content_for :header do %>
  <h1><%= @lesson.title %></h1>
<% end %>
<div id="links">
  <div class="menu">
    <a href="/" class="showcode">Pokaż <br/>Rozwiązanie</a>
    <% if @answer.new_record? %>
      <a href="<%= lesson_path(@lesson, :try => "next") %>" class="copycode">Restart</a>
    <% else %>
      <%= link_to "Restart", answer_path(@answer, :restart => true), :method => "put" %>
    <% end %>
    <a href="<%= lesson_path(@lesson.next) %>">Kolejna<br/> Lekcja</a>
    <div class="clear"></div>
  </div>
</div>
<br/>
<div id="draft">
  <h2> Wersja robocza:</h2>
  <style type="text/css" id="draft-style">
    <%= raw draft_css(@answer.body) %>
  </style>
  <%= raw @lesson.body %>
  <div class="clear"></div>
</div>
<div id="goal">
  <h2> Cel: </h2>
  <style type="text/css" id="goal-style">
    <%= raw goal_css(@lesson.goal) %>
  </style>
  <%= raw @lesson.body %>
</div>

<div class="clear"></div>
  <%= form_for @answer do |f| %>
   <%= f.hidden_field :lesson_id, :value => @lesson.id %>
   <%= f.hidden_field :student_id, :value => current_student.id %>
   <%= f.text_area :body, :name => "code", :class => "css" %>
   <%= f.submit "Zapisz" %>
  <% end %>
<div class="clear"></div>
<br/>
<h2> HTML: </h2>
<div class="html-view">
  <%= raw CodeRay.scan(@lesson.body, "html").div %>
</div>
<div id="solution" style="display: none">
  <h2> CSS: </h2>
  <div class="html-view">
    <%= raw CodeRay.scan(@lesson.goal, "css").div %>
  </div>
</div>


