<% content_for :header do %>
  <h1><%= @lesson.title %></h1>
<% end %>
<div id="links">
  <div class="menu">
    <a href="/" class="showcode">Pokaż <br/>Rozwiązanie</a>
    <a href='#' class='copycode'>Restart</a>
    <a href="<%= lesson_path(@lesson.next) %>">Kolejna<br/> Lekcja</a>
    <a class="colory">
      <span>Kolory</span>
      <ul style="display:none;background: #fff;">
        <li style="color: #CC0000">#CC0000</li>
        <li style="color: #3300FF">#3300FF</li>
        <li style="color: #CC0099">#CC0099</li>
        <li style="color: #1FCFC1">#1FCFC1</li>
        <li style="color: #006633">#006633</li>
        <li style="color: #e8edff">#e8edff</li>
      </ul>
    </a>
    <div class="clear"></div>
  </div>
</div>
<br/>
<div id="draft">
  <h2> Wersja robocza:</h2>
  <style type="text/css" id="draft-style">
    <%= raw draft_css(@lesson.draft) %>
  </style>
  <%= raw @lesson.body %>
  <div class="clear"></div>
</div>
<div id="goal">
  <h2> Cel: </h2>
  <style type="text/css" id="goal-style">
    <%= raw goal_css(@lesson.goal) %>
  </style>
  <%= raw @lesson.body %>
</div>

<div class="clear"></div>
  <form id='answer'>
    <textarea id='answer_body' name="code" class="css"><%= raw(@lesson.draft) %></textarea>
    <input type='submit' value='Zapisz'>
  </form>
<div class="clear"></div>
<br/>
<h2> HTML: </h2>
<div class="html-view">
  <%= raw CodeRay.scan(@lesson.body, "html").div %>
</div>
<div id="solution" style="display: none">
  <h2> CSS: </h2>
  <div class="html-view">
    <%= raw CodeRay.scan(@lesson.goal, "css").div %>
  </div>
</div>
<% if @lesson.clue.present? %>
  <div class="full">
    <%= simple_format @lesson.clue %>
  </div>
<% end %>
