<!DOCTYPE html>
<html lang="pl">
<head>
  <title>Amusing Css by Webmus.es</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <link rel="shortcut icon" href="http://webmuses.s3.amazonaws.com/favicon2.ico" type="image/x-icon">
  <link href='http://fonts.googleapis.com/css?family=Lato:400,900' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="topstrip"></div>
  <div class="wrapper">
    <header>
      <div class="menu main">
        <a href="/">home</a>
        <a href="/lessons">Lekcje</a>
        <a href="http://webmus.es" target="_blank">Webmuses</a>
        <a href="/basic">Podstawy</a>
        <div class="clear"></div>
      </div>
    </header>
      <% if devise_controller?  || controller.action_name == "home" %>
        <div class="container">
          <div class="link-box">
            <p class="notice"><%= notice %></p>
            <p class="alert"><%= alert %></p>
            <%= yield %>
          </div>
          <div id="muse">
             <%= image_tag("/assets/muse.png", class: "big-muse") %>
          </div>
        </div>
      <% else %>
        <div id="title">
           <div id="title-holder" class="container">
              <%= yield(:header) %>
           </div>
          <div class="clear"></div>
        </div>
        <div class="container">
          <p class="notice"><%= notice %></p>
          <p class="alert"><%= alert %></p>
            <%= yield %>
        </div>
      <% end %>
    <div class="push"></div>
  </div>
  <footer class="clear">
    <div class="container">
      <a href="/"><img src="/assets/bottom.png" id="bottom" alt="bottom"/></a>
    </div>
    <div id="footer_copy">
      <div class="container">
        2012, WebMuses.
        <a href="mailto:webmuses@gmail.com">Skontaktuj się z nami</a>
        lub obserwuj nas na <a href="http://twitter.com/webmuses">Twitterze</a> i
        <a href="http://www.facebook.com/webmuses">Facebooku</a>
      </div>
    </div>
  </footer>
</body>
</html>

